body{
    background-color: blanchedalmond;
    margin: 0;
    
}
.style1{
    background-color: brown;
   height: 200px;
   width: 200px;
   margin-left: 10px;
   margin-right: 10px;
  
}
.h{
    background-color: aqua;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#name{
    color: beige;
    font-size: 2em;
    margin-left: 18px;
    
}

.style2{
     background-color: rgb(255, 0, 200);
   height: 500px;
   width: 200px;
   margin-left: 10px;
   margin-right: 10px;
}